<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), "YYYY") %> <%= config.author %><br>
      Powered by <a href="https://hexo.io/" target="_blank" rel="noopener">Hexo</a>
    </div>
  </div>
</footer>
